<% title "Cheers! - dodaj drinka" %>

<% content_for :head do %>
<% end %>
	<section id="main"><!-- #main content area -->
			<section id="content"><!-- #content -->
				<article>
					<h1>Dodaj drinka</h1>

<% form_for(@coctail, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.label 'Nazwa:' %><br>
    <%= f.text_field :name %>	
	<div>
<br>
	    <p><%= f.label 'Składniki:' %></p>
	    <table>
	        <tr>
	        	<td></td>
				<td>Nazwa:</td>
				<td>Ile:</td>
			</tr>
			<tr>
				<td><%= f.label 'Składnik 1:' %></td>
				<td><%= text_field_tag :ing1 %></td>
				<td><%= text_field_tag :info1 %></td>
			</tr>
			<tr>
				<td><%= f.label 'Składnik 2:' %></td>
				<td><%= text_field_tag :ing2 %></td>
				<td><%= text_field_tag :info2 %></td>
			</tr>
			<tr>
				<td><%= f.label 'Składnik 3:' %></td>
				<td><%= text_field_tag :ing3 %></td>
				<td><%= text_field_tag :info3 %></td>
			</tr>
			<tr>
				<td><%= f.label 'Składnik 4:' %></td>
				<td><%= text_field_tag :ing4 %></td>
				<td><%= text_field_tag :info4 %></td>
			</tr>
			<tr>
				<td><%= f.label 'Składnik 5:' %></td>
				<td><%= text_field_tag :ing5 %></td>
				<td><%= text_field_tag :info5 %></td>
			</tr>
			<tr>
				<td><%= f.label 'Składnik 6:' %></td>
				<td><%= text_field_tag :ing6 %></td>
				<td><%= text_field_tag :info6 %></td>
			</tr>
		</table>
	</div>
	<div>
<br>
		<%= f.label 'Sposób przygotowania:' %><br>
	    <%= f.text_area :recipe, :size => "50x10" %>
		<p>
<br>
		  	<%= f.label 'Zdjęcie' %><br />
		  	<%= f.file_field :photo %>
		</p>
	</div>
  </div>
  <p>
    <%= f.submit 'Dodaj' %>
  </p>
<% end %>


				</article>
						
						
			</section><!-- end of #content -->

	</section><!-- end of #main content -->

<footer>
		<section id="footer-area">

			<section id="footer-outer-block">
					<aside class="footer-segment first">
<p> &copy; Cheers! 2010</p>
					</aside><!-- end of #first footer segment -->
			</section><!-- end of footer-outer-block -->

		</section><!-- end of footer-area -->
	</footer>

