<% title "Cheers! - nowy użytkownik" %>

<% content_for :head do %>
<% end %>
	<section id="main"><!-- #main content area -->
			<section id="content"><!-- #content -->
				<article>
					<h1>Rejestracja użytkowika</h1>
<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label 'Hasło' %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label 'Powtórz hasło' %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit 'Zarejestruj' %>
  </p>
<% end %>
</article>
						
						
			</section><!-- end of #content -->

	</section><!-- end of #main content -->
<footer>
		<section id="footer-area">

			<section id="footer-outer-block">
					<aside class="footer-segment first">
<p> &copy; Cheers! 2010</p>
					</aside><!-- end of #first footer segment -->
			</section><!-- end of footer-outer-block -->

		</section><!-- end of footer-area -->
	</footer>

