<% title "Cheerss! - strona główna" %>

<% content_for :head do %>
<% end %>
	<section id="main"><!-- #main content area -->
			<section id="content"><!-- #content -->
				<article>
					<h1>Logowanie</h1>



<% form_for @user_session do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label 'Hasło' %><br />
    <%= f.password_field :password %>
  </p>
  <p><%= f.submit 'Zaloguj' %></p>
<% end %>
</article>
						
						
			</section><!-- end of #content -->

	</section><!-- end of #main content -->



