<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title><%= h(yield(:title) || "Cheers!") %></title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag('styles', :media => :screen) %>
  <%= stylesheet_link_tag('style_wydruk', :media => :print) %>
</head>
<body>
	<header><!-- header -->
<div id="takeatour">
		<h1><a href="#">Cheers!</a></h1>
	<li><% if logged_in? %>
		<%= link_to "Edycja profilu", edit_user_path(current_user.login) %>
    	<li><%= link_to "Wyloguj", logout_path %>

  	<% else %>
    	<li><%= link_to "Rejestracja", new_user_path %>
    	<li><%= link_to "Logowanie", login_path %>

  	<% end %>

  </div>

	</header><!-- end of header -->
<div id="wrapper"><!-- #wrapper -->

	<nav><!-- top nav -->
		<div class="menu">
			<ul>
	<li><%= link_to 'Start', root_path %>
	<li><%= link_to 'Składniki', ingredients_path %>
	<li><%= link_to 'Drinki', coctails_path %>
	<li><% if logged_in? %>
		<%= link_to "Dodaj drinka", new_coctail_path %>

<% end %>
              <li><%= link_to "O nas", about_path %></li>

			</ul>
		</div>
	</nav><!-- end of top nav -->
	
</div><!-- #wrapper -->
	<section id="main"><!-- #main content area -->
			<section id="content"><!-- #content -->
			<section id="ocena"><!-- #content -->
				<article>
	<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
						</article>					

</section>
			</section><!-- end of #content -->

	</section><!-- end of #main content -->


<%= yield %>
</body>
</html>
